section {
  background: radial-gradient(circle at center, #0b0b13 0%, #020205 100%);
}

h1 {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.05em;
  font-weight: 700;
  text-transform: capitalize;
  cursor: default;
  user-select: none;
}
